*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-primary: #1a1a1a;
    --dark-secondary: #2d2d2d;
    --dark-tertiary: #404040;
    --light-accent: #f5f5f5;
    --text-primary: #ffffff;
    --text-secondary: #cccccc;
    --gold-color:  rgb(199, 153, 5);
    --font-uppr: "Yatra One", serif;
    --font-text: "Poiret One", sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--dark-primary);
    color: var(--dark-secondary);
    font-family: poppins, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    
}

a{
    text-decoration: none;
}

h1{
    font-family:syne, sans-serif;
    text-decoration: none;
    color: var(--text-primary);
    font-weight: 900;
    font-size: 3rem;
}

h2{
    font-size: 3rem;
    color: var(--dark-secondary);
    font-family: syne;
    letter-spacing: -2px;
    font-weight: 700;
}
 
h3{
    font-size: 2.5rem;
    color: var(--dark-secondary);
    font-family: syne;
    letter-spacing: -2px;
    display: flex;
    align-items: center;
    line-height: 50px;
    margin-left: -30px;
    font-weight: 700;
}

h5{
    font-family: var(--font-text);
    font-weight: 900;
}

li{
    font-family: var(--font-text);
    font-weight: bold;
}
main{
    background-color: var(--text-primary);
    margin: 0 60px;
    padding-bottom: 100px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: #fff;
  }
  .nav-link:before {
    content: "";
    position: absolute;
    height: 2px;
    background: var(--gold-color);
    bottom: -2px;
    right: 0;
    width: 0%;
    transition: 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  .nav-link:hover:before {
    left: 0;
    width: 100%;
  }

.logoImg{
    width: fit-content;
    font-size: 3rem;
    border-bottom: 1px solid var(--text-primary);
    border-top: 1px solid var(--text-primary);
    margin: 0 auto;
    line-height: 40px;
    font-family:Syne, sans-serif;
    color: var(--light-accent);
    font-weight: 900;
}

.boxLogoImg{
    border: 1px solid var(--text-primary);
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.containerTitle{
    margin-bottom: 180px;
}

/* Carousel de imagenes */
.gallery {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gallery img {
    width: 100%;
    height: 90vh;
    max-width:1400px ;
    margin: 10px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    object-fit: cover;
    filter: grayscale(90%) brightness(25%) sepia(80%)  blur(1px);
    transition: all 1.2s ease-in-out;
    opacity: 0;
    transform: translateY(10px);
   
      
}

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hero img{
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease-in-out;
    object-fit: cover;
    filter: grayscale(90%) brightness(25%) sepia(80%)  blur(1px);
    transition: all 1.2s ease-in-out;
    transform: translateY(10px);
}

.gallery img.active {
    opacity: 1;
    transform: translateY(0);
}

.hidden {
    display: none;
}


.button{
    background-color: var(--gold-color);
    color: var(--dark-secondary);
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    font-weight: 900;
    transition: 0.3s all ease;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.622);
    font-family: var(--font-text);
    font-weight: bold;
}

.button:hover{
    background-color: rgb(121, 97, 21);
    color: white;
}

.containerUp{
    margin-top: -150px;
    position: relative;
}

.boxPresentation{
    width: 100%;
    height: auto;
    max-width: 850px;
    text-align: center;
    margin: 140px auto;
    padding: 0 30px;
}

.imgHero{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card{
    transition: 0.3s ease-out;
}

.card:hover{
    transform: translateY(-5px);
}

.boxImg{
    width:350px;
    height:350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 60px;
    box-shadow: 2px 5px 55px rgba(0, 0, 0, 0.622);
}

.boxCenter{
    padding: 140px 0;
}

.boxImgDer{
    width:350px;
    height:350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -90px;
    box-shadow: 5px 5px 55px rgba(0, 0, 0, 0.622);
}
 

.boxImgDer img{
width: 200px;
height: 200px;
object-fit: cover;
margin-left: -400px;
box-shadow: 2px 5px 55px rgba(0, 0, 0, 0.622);
}

.boxImg img{
width: 200px;
height: 200px;
object-fit: cover;
margin-left: 400px;
box-shadow: 2px 5px 55px rgba(0, 0, 0, 0.622);
}

.imgBack1{
    background-image: url(../assets/img/strategia.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.9) contrast(120%);
}
.imgBack2{
    background-image: url(../assets/img/comunicacion.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.9) contrast(120%);
}
.imgBack3{
    background-image: url(../assets/img/resultados.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.9) contrast(120%);
}

.pImg{
    padding: 0 100px;
}

.number{
    font-size: 6.5rem;
    color: #1f1f1f23;
    margin-right: -50px;
    margin-bottom: 10px;
   
}

/* Nuestros proyectos */

.project-card{
    transition: 0.3s ease-in-out;
}
.project-card:hover{
    box-shadow: 2px 5px 55px rgba(0, 0, 0, 0.622);
    transform: scale(1.05);
    .img-proyect, .button{
        box-shadow: none;
    }
}

.img-proyect{
    box-shadow: 2px 5px 55px rgba(0, 0, 0, 0.622);
    filter:  brightness(80%);
}
.img-proyect:hover{
    box-shadow: 2px 5px 55px rgba(0, 0, 0, 0.622);
    filter:  brightness(100%) saturate(120%);
}

span{
    font-family: var(--font-text);
    font-weight: bold
}

.boxShadow{
    box-shadow: 2px 5px 55px rgba(0, 0, 0, 0.622);
}

/* ****************************************CLIENTES*************************** */

.mainStandard{
    background-color: var(--text-primary);
    padding: 50px 50px;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: -160px;
    position: relative;
    z-index: 2;
}

.bi{
    color: var(--gold-color);
}

/* ****************************************SERVICIOS*************************** */

.card-servicios{
  transition: 0.3s all ease-out;  
  cursor: pointer;
}
.card-servicios:hover{
    transform: scale(1.05);
}





@media screen and (max-width: 768px) {
   
    main{
        background-color: var(--text-primary);
        
        padding-bottom: 100px;
        max-width: 1200px;
        margin: 0 auto;
    }

    nav{
        margin-top: -20px;
    }

    h1{
        font-size: 2.1rem;
    }

    .gallery {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
    }

    .containerTitle{
        margin-top: -40px;
    }
    
    .gallery img {
        width: 100%;
        height: 125vh;
        max-width:1400px ;
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
        object-fit: cover;
        filter: grayscale(90%) brightness(25%) sepia(80%)  blur(1px);
        transition: all 1.2s ease-in-out;
        opacity: 0;
        transform: translateY(10px);
    }
    .boxImg, .boxImgDer {
        width: 100%;
        height: 250px;
        right: 0;
        margin: 20px 0;
    }

    .boxImg img, .boxImgDer img {
        width: 150px;
        height: 150px;
        margin-left: 0;
    }

    .pImg {
        padding: 0 20px;
        text-align: center;
    }

    h3 {
        font-size: 2rem;
        margin-left: 0;
        justify-content: center;
    }

    .number {
        font-size: 5rem;
        margin-right: 250px;
        position: absolute;
        font-weight: 900;
    }

    .boxCenter {
        padding: 40px 0;
    }

    .row-prensentation {
        margin-top: 20px;
    }

    .col-4, .col-8 {
        width: 100%;
    }
    .img-left1{
        display: none;
    }
    .img-rigth{
        display: none;
    }
    .img-left2{
        display: none;
    }

    .box-elegirnos{
        flex-direction: column-reverse;
    }
    .box-elegirnos2{
        flex-direction: column-reverse;
    }

    /* Nuestros Clientes */
    .mainClientes{
        background-color: var(--text-primary);
        padding: 50px 10px;
        max-width: 1400px;
        margin: 0 auto;
        margin-top: -160px;
        position: relative;
        z-index: 2;
    }

      
}
